.d-flex{
    display: flex;
}

.title {
    color: #251814;
    size: 16px;
}

.hover{
    justify-content: center;
    height: 2rem;
    align-items: center;
    /* margin-bottom: 3rem; */
}

.hover:hover {
    background: #EDB046;
}

